<?xml version="1.0"?>
<launch>
  <arg name="launch_camera_topics" default="false" doc="Launch realsense topics. If this is launched, no other application can use the realsecamera"/>
  <arg name="launch_gripper_driver" default="false" doc="Launch DH gripper driver."/>
  <arg name="joint_interface" default="position" doc="position|velocity"/>

  
  <arg name="robot_ip" value="192.168.144.100" doc="IP address by which the robot can be reached."/>
  <arg name="kinematics_config" value="$(find ur-ros-driver-config)/config/ur5_calibration.yaml" doc="Kinematics config file used for calibration correction. This will be used to verify the robot's calibration is matching the robot_description."/>
  <arg name="controller_config_file" value="$(find ur-ros-driver-config)/config/ur5_controllers.yaml" doc="Custom controllers"/>
  
  <!-- selecting controllers for velocity interface -->
  <arg name="controllers" value="joint_state_controller joint_group_vel_controller" if="$(eval arg('joint_interface') == 'velocity')"/>
  <arg name="stopped_controllers" value="pos_joint_traj_controller scaled_pos_joint_traj_controller" if="$(eval arg('joint_interface') == 'velocity')"/>
  
  <!-- selection controllers for position and action interface -->
  <arg name="controllers" value="joint_state_controller scaled_pos_joint_traj_controller" if="$(eval arg('joint_interface') == 'position')"/>
  <arg name="stopped_controllers" value="pos_joint_traj_controller joint_group_vel_controller" if="$(eval arg('joint_interface') == 'position')"/>

  <include file="$(find ur_robot_driver)/launch/ur5_bringup.launch" pass_all_args="true"/>

  <include file="$(find dh_gripper_driver)/launch/dh_gripper.launch" if="$(arg launch_gripper_driver)"/>
  <include file="$(find ur-ros-driver-config)/launch/camera_topics.launch.xml" if="$(arg launch_camera_topics)"/>
  
</launch>
