   <launch>
        <arg name="namespace_prefix" default="ur5_realsense_handeyecalibration" />
     
        <arg name="marker_size" doc="Size of the ArUco marker used, in meters" default="0.079" />
        <arg name="marker_id" doc="The ID of the ArUco marker used" default="582" />
     
        <!-- start ArUco -->
        <node name="aruco_tracker" pkg="aruco_ros" type="single">
            <remap from="/camera_info" to="/camera/color/camera_info" />
            <remap from="/image" to="/camera/color/image_raw" />
            <param name="image_is_rectified" value="true"/>
            <param name="marker_size"        value="$(arg marker_size)"/>
            <param name="marker_id"          value="$(arg marker_id)"/>
            <param name="reference_frame"    value="camera_link"/>
            <param name="camera_frame"       value="camera_color_optical_frame"/> 
            <param name="marker_frame"       value="camera_marker" />
        </node>
     
    <!-- start easy_handeye -->
    <!-- eye in hand -->
        <include file="$(find easy_handeye)/launch/calibrate.launch" >
            <arg name="eye_on_hand" value="true" />
            <arg name="namespace_prefix" value="$(arg namespace_prefix)" />

            <arg name="robot_base_frame" value="base_link" />
            <arg name="robot_effector_frame" value="tool0" />
            
            <arg name="tracking_base_frame" value="camera_link" />
            <arg name="tracking_marker_frame" value="camera_marker" />
     
            <arg name="freehand_robot_movement" value="false" />
            <arg name="robot_velocity_scaling" value="0.5" />
            <arg name="robot_acceleration_scaling" value="0.2" />
        </include>
        
        <node name="aruco_result_disp" type="image_view" pkg="image_view">
            <param name="image" value="/aruco_tracker/result"/>
        </node>

        <include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/>
     
    </launch>
