[submodule "Universal_Robots_ROS_Driver"]
	path = Universal_Robots_ROS_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS_Driver.git
[submodule "AG95-ROS"]
	path = AG95-ROS
	url = https://github.com/RIL-IISc/AG95-ROS.git
[submodule "fmauch_universal_robot"]
	path = universal_robot
	url = https://github.com/fmauch/universal_robot.git
	branch = calibration_devel
